.contact-container{
    display:flex;
    flex-direction:column;    
    justify-items: center;
    align-items: center;
    height: auto;
    width:auto;
    color: white;
    overflow:scroll;
    margin: 10px auto;
}
.contact-container > section > a {
    text-decoration: none;
    color: white;
    font-size:2em;
    
}
.contact-container > h1 {
    font-size:4em;    
}

.contact-container > section > p {
    font-size:2em; 
       
}

.contact-container::-webkit-scrollbar {
    display: none;
}

.questions {
    background-color:rgba(95, 158, 160, 0.681); 
    margin: 20px auto;
    border-radius:15px; 
    text-align:center;
    width:95%;
}

.contact-links{
    background-color:rgba(95, 158, 160, 0.681); 
    margin: 20px auto;
    border-radius:15px; 
    text-align:center;
    width:95%;
    
}

.contact-links > p > a {
    text-decoration:none;
    color: white;
}

.contact-links > p >a:hover{
    background-color: #ddd;
    color: black;
}