.footer{
    display: grid;
    grid-template-columns: 1fr;
    overflow:hidden;
    background-color: #333;
    color: white;
    text-align: center;
    left:0;
    right:0;
    bottom:0; 
    position:absolute; 
    height:70px;
    
}