.home-container{
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-self: center;
    color:white;
    overflow:scroll;
}

.home-container::-webkit-scrollbar {
    display: none;
}

.name{
    font-size:6em;
    margin: 0px;
    
}

.profession{
    font-size:3em;
    margin: 0px;
}