.project-container{
    display:grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 2fr 2fr 2fr;
    justify-items: center;
    align-items: center;
    height: 90vh;
    width:auto;
    border: black 2px solid;
    font-size:20px;
    overflow:scroll;
    color: #C9A885;
}

.project-container > h1 {
    font-size:4em;
}

.project-container::-webkit-scrollbar {
    display: none;
}